<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="js/zui/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="js/zui/js/zui.min.js"></script>
    <script>
        function go(_this){
            var $this = $(_this);
            $("#1iframe").attr("src",$this.attr("ahref"));
        }
    </script>
</head>
<body style="height: 100%">
<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-3 scrollbar-hover" style="height: 100% ;overflow-y: scroll; padding-right: 0;padding-left: 0; " >
            <nav class="menu" data-toggle="menu" style="width: 100%">
                <ul class="nav nav-primary">
                    <li><a href="javascript:;" ><i class="icon-th"></i> 用例组列表</a></li>
                    <%
                    for(testGroupBaseBean in testGroupBaseBeans){
                        var useCases = testGroupBaseBean.useCases;
                        var flag = true;
                        for(useCase in useCases){
                            if(useCase.stauts == false){
                                flag = false;
                            }
                        }

                    %>
                    <li class="active show nav-parent">
                        <a href="javascript:void(0);" onclick="go(this)" ahref="<% print('groupUseCase/'+ testGroupBaseBean.id + '.html'); %>" <% if(flag) { print('style="background-color: #00B83F"'); } else { print('style="background-color: #db2128"'); } %>  ><% if(flag) { print('<i class="icon-check"></i>'); } else { print('<i class="icon-times" ></i>'); } %><% print(testGroupBaseBean.name); %></a><!--class="icon-check"-->
                        <ul class="nav">
                            <%
                            for(useCase in useCases){

                            %>
                            <li><a ahref="<% print('groupUseCase/'+ testGroupBaseBean.id+'/'+ useCase.id + '.html'); %>" stauts="<% print(useCase.stauts); %>" href="javascript:void(0);" onclick="go(this)" <% if(useCase.stauts) { print('style="background-color: #00B83F"'); } else { print('style="background-color: #db2128"'); } %>  ><% if(useCase.stauts) { print('<i class="icon-check"></i>'); } else { print('<i class="icon-times" ></i>'); } %><% print(useCase.name); %></a></li>
                            <%
                            }
                            %>
                        </ul>
                    </li>
                    <%
                    }
                    %>

                </ul>
            </nav></div>
        <div class="col-md-9" style="height: 100%;padding-right: 0;padding-left: 0; ">
            <%
            for(testGroupBaseBean in testGroupBaseBeans){
                if(testGroupBaseBeanLP.index == 1){
            %>
                <iframe id="1iframe" scrolling="no" frameborder="0" src="<% print('groupUseCase/'+ testGroupBaseBean.id + '.html'); %>" style="width:100%;height:100%;display: block;"></iframe>
            <%
                }
            }
            %>
          </div>
    </div>
</div>
</body>
</html>