<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="../../js/zui/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="../../js/zui/js/zui.min.js"></script>
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>用例</th>
        <th>测试结果</th>
        <th>性能报告</th>
    </tr>
    </thead>
    <tbody>
    <tr   <% if(useCase.stauts) { print('class="success"'); } else { print('class="danger"'); } %>>
    <td><% if(useCase.stauts) { print('<i class="icon-check"></i>'); } else { print('<i class="icon-times" ></i>'); } %><% print(useCase.name); %></td>
    <td>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>结果</th>
                <th>测试信息</th>
            </tr>
            </thead>
            <tbody>
            <%
            var checks = useCase.checks;
            for(check in checks){

            %>
                <tr <% if(check.stauts) { print('class="success"'); } else { print('class="danger"'); } %>>
                    <td><% if(check.stauts) { print('<i class="icon-check"></i>'); } else { print('<i class="icon-times" ></i>'); } %><a href="<% print(useCase.id+'/'+check.id+'.html'); %>">测试项<% print(checkLP.index); %></a></td>
                    <td><% if(check.stauts) { print('通过'); } else { print('未通过'); } %></td>
                    <td><% if(check.stauts) { print(check.msg); }  %></td>
                </tr>
            <%
            }
            %>

            </tbody>
        </table>
    </td>
    <td>
        <table class="table">
            <thead>
            <tr>
                <th>名称</th>
                <th>最快(ms)</th>
                <th>最慢(ms)</th>
                <th>平均(ms)</th>
            </tr>
            </thead>
            <tbody>
            <%
            var perfromances = useCase.perfromances;
            for(perfromance in perfromances){

            %>
            <tr class="success">
                <td><a href="<% print(useCase.id+'/'+perfromance.id+'.html'); %>">性能测试<% print(perfromanceLP.index); %></a></td>
                <td><%  print(perfromance.max);   %> </td>
                <td><%  print(perfromance.min);   %> </td>
                <td><%  print(perfromance.average);   %> </td>
            </tr>
            <%
            }
            %>
            </tbody>
        </table>
    </td>
    </tr>
    </tbody>
</table>
</body>
</html>